.slide {
    margin: 0 auto;
    position: relative;
    width: 800px;
}

.slide_button {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 100%;
    border: none;
    color: white;
    font-size: 1em;
    position: absolute;
    top: 50%;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.slide_container {
    display: flex;
    height: 600px;
    overflow: hidden;
}

.slide_images {
    display: flex;
    margin: 0 auto;
    transition: margin-left .5s;
    width: 100%;
}

.slide_image {
    height: 100%;
    width: 100%;
}